@using Partify.Web.Models.Permissions
@using X.PagedList.Mvc.Core;
@model PermissionPagedListModel

<h2>Permissions</h2>

<div style="display:flex; justify-content:flex-start">
    <div style="margin-right:20px">
        <a asp-controller="Permissions" asp-action="Create" class="btn btn-primary">Create New</a>
    </div>
    <div >
        <form asp-controller="Permissions" asp-action="Index">
            <div class="input-group">
                <div class="form-outline" data-mdb-input-init>
                    <input type="search" asp-for="Search" id="form1" class="form-control" />
                    <label class="form-label" for="form1">Search</label>
                </div>
                <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Controller</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
            @foreach (var item in Model.Permissions)
            {
            <tr>
                <td>@item.Controller</td>
                <td>@item.Action</td>
                <td style="display:flex ; justify-content: end">
                    <a  style="margin-right: 3px" class="btn btn-info btn-rounded" asp-controller="Permissions" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a  class="btn btn-danger btn-rounded" data-mdb-toggle="modal" data-mdb-target="#showDeletePage" data-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
    </tbody>
</table>

<div class="mb-7">
    @Html.PagedListPager(Model.Permissions,
            page => Url.Action("Index", new
            {
                page,
                Search = Model.Search
            }),
            new X.PagedList.Web.Common.PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
</div>


<!-- Modal -->
<div class="modal fade" id="showDeletePage" tabindex="-1" aria-labelledby="showDeletePage" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <a id="confirmDeleteBtn" asp-controller="Permissions" asp-action="Delete" asp-route-id="" class="btn btn-danger" data-mdb-ripple-init>Confirm</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteLinks = document.querySelectorAll('a[data-mdb-toggle="modal"][data-mdb-target="#showDeletePage"]');
        var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

        deleteLinks.forEach(function (link) {
            link.addEventListener('click', function () {
                var reporterId = link.getAttribute('data-id');
                var confirmDeleteUrl = '/Permissions/Delete/' + reporterId;
                confirmDeleteBtn.setAttribute('href', confirmDeleteUrl);
            });
        });
    });
</script>
