@using Partify.Web.Models.Users
@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "User";
}

<div class="container ml-8">

    <div class="mb-3">
        <a asp-controller="Users" asp-action="Create" class="btn btn-success btn-rounded" data-mdb-ripple-init>Create</a>
    </div>

    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Phone</td>
                    <td>@user.Email</td>
                    <td>@user.Role.Name</td>
                    <td>
                        <a class="nav-link dropdown-toggle"
                           role="button"
                           data-mdb-toggle="dropdown"
                           aria-expanded="false">
                            Select
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ddlWarehouse">
                            <li>
                                <a class="dropdown-item" asp-action="Edit" asp-controller="Users" asp-route-id="@user.Id">Edit</a>
                                <a class="dropdown-item" asp-action="Change" asp-controller="Users" asp-route-userId="@user.Id">Change Role</a>
                                <a class="dropdown-item" data-mdb-toggle="modal" data-mdb-target="#showDeletePage" data-id="@user.Id">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="showDeletePage" tabindex="-1" aria-labelledby="showDeletePage" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <a id="confirmDeleteBtn" asp-controller="Users" asp-action="Delete" asp-route-id="" class="btn btn-danger" data-mdb-ripple-init>Confirm</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteLinks = document.querySelectorAll('a[data-mdb-toggle="modal"][data-mdb-target="#showDeletePage"]');
        var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

        deleteLinks.forEach(function (link) {
            link.addEventListener('click', function () {
                var reporterId = link.getAttribute('data-id');
                var confirmDeleteUrl = '/Users/Delete/' + reporterId;
                confirmDeleteBtn.setAttribute('href', confirmDeleteUrl);
            });
        });
    });
</script>